SimpleServiceConsoleClient/Connected Services/SimpleServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISimpleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceAbstractions.SimpleService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleService_SinkRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SinkRequest" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_SinkRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SinkRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetSimpleResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleService_GetSimpleResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleService">
    <wsdl:operation name="SinkRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/SinkRequest" message="tns:ISimpleService_SinkRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/SinkRequestResponse" message="tns:ISimpleService_SinkRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimpleResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleService/GetSimpleResponse" message="tns:ISimpleService_GetSimpleResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleService/GetSimpleResponseResponse" message="tns:ISimpleService_GetSimpleResponse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleService" type="tns:ISimpleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SinkRequest">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/SinkRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimpleResponse">
      <soap:operation soapAction="http://tempuri.org/ISimpleService/GetSimpleResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ISimpleService" type="tns:ISimpleService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISimpleService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SinkRequest">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/SinkRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimpleResponse">
      <soap12:operation soapAction="http://tempuri.org/ISimpleService/GetSimpleResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port name="BasicHttpBinding_ISimpleService" binding="tns:BasicHttpBinding_ISimpleService">
      <soap:address location="http://localhost:9001/SimpleService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ISimpleService" binding="tns:NetTcpBinding_ISimpleService">
      <soap12:address location="net.tcp://localhost:9002/SimpleService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/SimpleService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>