SimpleServiceConsoleClient/Connected Services/SimpleServiceRef/ServiceAbstractions.SimpleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceAbstractions.SimpleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceAbstractions.SimpleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimpleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleResponse" nillable="true" type="tns:SimpleResponse" />
</xs:schema>